@import "../../../shared/styles/shared-styles";
$width: 100%;

.right-part-container {
  width: $width;
  max-width: $width;
  background-color: $color-background-main;
  min-height: 100%;
  padding: 2rem 1.5rem 1rem 1rem;
}
